<div class="row pt-5">
  <div class="col-md-6 mx-auto">
    <div class="card rounded-0">
      <div class="card-header">
        <h3 class="mb-0">Iniciar sesión</h3>
      </div>
      <div class="card-body">
        <form class="form">
          <div class="form-group">
            <label for="">Email</label>
            <input  type="text" [(ngModel)]="userLogin.email" name="email" class="form-control rounded-0">
          </div>

          <div class="form-group">
              <label for="">Contraseña</label>
              <input  type="password" [(ngModel)]="userLogin.password" name="password" class="form-control rounded-0">
          </div>

          <button [disabled]="isDisableButton" (click)="loginUser()" type="button" class="btn btn-success float-right">{{ textoButton }}</button>
        </form>
      </div>
    </div>
  </div>
</div>