<nav class="navbar navbar-expend-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Demo Tuten</a>


    <ul class="navbar-nav">
      <a routerLink="/login"  *ngIf="_authService.loggedInToken() && _authService.loggedInEmail()" (click) = "_authService.logoutUser()" class="nav-link" routerLinkActive="active">Cerrar sesión</a>
    </ul>
 

</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>

