

<div class="row mt-5">
    
  <p class="btn-filter"><button class="btn" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
    Agregar filtros
  </button></p>
 
  <div class="collapse" id="collapseExample">
    <div class="card card-body">
        <div class="row">
            <div class="col-md-6">
                <fieldset>
                  <legend>Filtros de la columna BookingId </legend>
                  <table class="table">
                    <tr>
                      <td>Coincidencia</td>
                      <td><input type="text" (keyup)="filterTable($event)" (change)="filterTable($event)"  [(ngModel)]="filterBookingIdLike" class="form-control"></td>
                    </tr>
                    <tr>
                        <td>Mayor o igual a</td>
                        <td><input type="number" (keyup)="filterTable($event)" (change)="filterTable($event)"  [(ngModel)]="filterBookingIdMajor" class="form-control"> </td>
                    </tr>
                    <tr>
                        <td>Menor o igual a</td>
                        <td><input type="number" (keyup)="filterTable($event)" (change)="filterTable($event)"  [(ngModel)]="filterBookingIdMinor" class="form-control"></td>
                    </tr>
                  </table>
                </fieldset>
            </div>
    
            <div class="col-md-6">
                <fieldset>
                  <legend>Filtros de la columna Precio </legend>
                  <table class="table">
                      <tr>
                          <td>Coincidencia</td>
                          <td><input type="text" (keyup)="filterTable($event)" (change)="filterTable($event)"  [(ngModel)]="filterPrecioIdLike" class="form-control"></td>
                        </tr>
                        <tr>
                            <td>Mayor o igual a</td>
                            <td><input type="number" (keyup)="filterTable($event)" (change)="filterTable($event)"  [(ngModel)]="filterPrecioIdMajor" class="form-control"> </td>
                        </tr>
                        <tr>
                            <td>Menor o igual a</td>
                            <td> <input type="number" (keyup)="filterTable($event)" (change)="filterTable($event)"  [(ngModel)]="filterPrecioIdMinor" class="form-control"></td>
                        </tr>
                    </table>
                  </fieldset>
            </div>
          </div>      
    </div>
  </div>
  
  <table class="table table-data">
    <thead class="thead-dark" >
        <tr>
            <th>BookingId</th>
            <th>Cliente</th>
            <th>Fecha de Creación</th>
            <th>Dirección</th>
            <th>Precio</th>
        </tr>
    </thead>
    <tbody>
      <tr *ngIf="showTextLoading">
        <td colspan="5" class="text-center">Se esta cargando la información...</td>
      </tr>
      <tr *ngFor="let booking of bookingsFilterTable">
        <td>{{ booking.bookingId }}</td>
        <td>{{ booking.firstName }} {{ booking.LastName }}</td>
        <td>{{ booking.bookingTime | date }}</td>
        <td>{{ booking.streetAddress }}</td>
        <td>{{ booking.bookingPrice | currency }}</td>
      </tr>
    </tbody>
  </table>
</div>