.btn-filter
    width: 100%;

.collapse
    width: 100% !important;

fieldset
    border: 1px solid black;
    padding: 12px;
    legend
        font-size: 19px;
        width: 57%;

.table-data
    margin-top: 20px;

input[type=number]
    width: 100%;
    display: inline-block;